---
layout: main_page
---

<!-- Blog Section -->
<!-- <div id="blog" class="page-alternate">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Blog</h2>
                    <h3 class="title-description">Some fragments from my work.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in site.posts limit: 2 %}
            <div class="span6">
                <h3 class="spec"><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h3>
                <div class="row">
                    <div class="span3">{{ post.date | date_to_long_string }}</div>
                </div>
                <p>{{ post.excerpt }}</p>
            </div>
            {% endfor %}
        </div>
        <hr />
        <div class="row">
            <div class="span12">
                <h2>All Posts</h2>
            </div>
        </div>

        <div class="row">
            {% for post in site.posts %}
            <div class="span6">
                <h3><a href="{{ post.url | prepend:site.baseurl  }}">{{ post.title }}</a></h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->


<!-- Wiki Section -->
<!-- <div id="wiki" class="page">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Wiki</h2>
                    <h3 class="title-description">How install and uses the sKanner3D.</h3>
                </div>
            </div>
        </div>

        <div class="row">
            {% for wiki in site.wiki %}
            <div class="span6">
                <h3 class="spec"><a href="{{ wiki.url | prepend:site.baseurl  }}">{{ wiki.title }}</a> ( {{
                    wiki.language }} language ) </h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->


<!-- Paper Section -->
<div id="paper" class="page">
    <div class="container">

        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Papers</h2>
                    <h3 class="title-description">Artigos publicados relacionados.</h3>
                </div>
            </div>
        </div>

        <!-- Start Wiki Section -->
        <div class="row">
            {% for paper in site.paper %}
            <!-- Start Wiki Page -->
            <div class="span6">
                <h3 class="spec"><a href="{{ paper.url | prepend:site.baseurl  }}">{{ paper.title }}: {{ paper.subtitle
                        }}</a> ( {{ paper.language }} language ) </h3>
            </div>
            <!-- End Wiki Page -->
            {% endfor %}
        </div>
        <!-- End Paper Section -->
    </div>
</div>