<!-- About Section -->
<div id="about" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Me</h2>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span3 profile">
        	<div class="image-wrap">
                <!-- <img src="include/img/profile/logo.png" alt="{{ site.username }}"> -->
                <svg
                   xmlns:dc="http://purl.org/dc/elements/1.1/"
                   xmlns:cc="http://creativecommons.org/ns#"
                   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                   xmlns:svg="http://www.w3.org/2000/svg"
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                   width="256"
                   height="256"
                   viewBox="0 0 256 256"
                   id="svg2"
                   version="1.1"
                   inkscape:version="0.91 r13725"
                   sodipodi:docname="icon.svg">
                  <defs
                     id="defs4" />
                  <sodipodi:namedview
                     id="base"
                     pagecolor="#ffffff"
                     bordercolor="#666666"
                     borderopacity="1.0"
                     inkscape:pageopacity="0.0"
                     inkscape:pageshadow="2"
                     inkscape:zoom="0.98994949"
                     inkscape:cx="141.74508"
                     inkscape:cy="80.018748"
                     inkscape:document-units="px"
                     inkscape:current-layer="layer1"
                     showgrid="false"
                     inkscape:window-width="1360"
                     inkscape:window-height="715"
                     inkscape:window-x="0"
                     inkscape:window-y="27"
                     inkscape:window-maximized="1"
                     units="px" />
                  <metadata
                     id="metadata7">
                    <rdf:RDF>
                      <cc:Work
                         rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title></dc:title>
                      </cc:Work>
                    </rdf:RDF>
                  </metadata>
                  <g
                     inkscape:label="Layer 1"
                     inkscape:groupmode="layer"
                     id="layer1"
                     transform="translate(0,-796.36216)">
                    <g
                       id="g4143"
                       transform="matrix(4,0,0,4,-1429.3169,-397.30093)">
                      <circle
                         inkscape:export-ydpi="300"
                         inkscape:export-xdpi="300"
                         r="32"
                         cy="330.41577"
                         cx="389.32922"
                         id="path4217"
                         style="fill:#4d4d4d;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-miterlimit:2;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
                      <path
                         d="m 380.69893,322.25664 0,3.99912 q -1.79271,-0.91934 -3.72332,-1.37901 -1.93061,-0.45967 -3.99912,-0.45967 -3.14873,0 -4.73459,0.96531 -1.56288,0.9653 -1.56288,2.89591 0,1.47094 1.12619,2.32133 1.12619,0.82741 4.52774,1.58586 l 1.44796,0.32177 q 4.50476,0.9653 6.3894,2.73503 1.90763,1.74674 1.90763,4.89548 0,3.58542 -2.84995,5.67691 -2.82696,2.09149 -7.79139,2.09149 -2.06851,0 -4.32089,-0.4137 -2.2294,-0.39072 -4.71161,-1.19514 l 0,-4.36685 q 2.34431,1.21812 4.61967,1.83867 2.27537,0.59757 4.50476,0.59757 2.98785,0 4.59669,-1.01127 1.60885,-1.03426 1.60885,-2.89592 0,-1.72375 -1.17216,-2.64309 -1.14917,-0.91934 -5.07934,-1.76973 l -1.47095,-0.34475 q -3.93017,-0.82741 -5.67691,-2.52818 -1.74674,-1.72376 -1.74674,-4.71161 0,-3.63139 2.57414,-5.60796 2.57415,-1.97658 7.30874,-1.97658 2.34432,0 4.41283,0.34475 2.06851,0.34475 3.81525,1.03426 z"
                         style="font-style:normal;font-weight:normal;font-size:medium;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                         id="path4137"
                         inkscape:connector-curvature="0" />
                      <path
                         d="m 389.01894,312.92535 4.64266,0 0,14.50256 15.39892,-14.50256 5.9757,0 -17.03074,15.99649 18.24886,18.31781 -6.1136,0 -16.47914,-16.5251 0,16.5251 -4.64266,0 0,-34.3143 z"
                         style="font-style:normal;font-weight:normal;font-size:medium;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                         id="path4139"
                         inkscape:connector-curvature="0" />
                    </g>
                  </g>
                </svg>
            </div>
        </div>

        <div class="span5">
            <h3 class="profile-name">{{ site.username }}</h3>
            <p class="profile-description">
            This is a procject about 3D body capture with automatic modelling enriched which uses one camera RGBD e produces variants based in obesity levels. It was developed by <a href="https://www.joinville.udesc.br/larva/">Larva (LAboratory of Research in Visual Aplications) </a> and <a href="#">Vinco (Laboratório de Visualização e Interação não COnvencionais) </a>
            </p>
            <div class="social">
                <ul class="social-icons">
                        <li><a href="{{site.github_username}}" title="Follow Me on GitHub" target="_blank"><span class="fa fa-github solo"></span></a></li>
                </ul>
            </div>

        </div>

        <div class="span4">
            <div class="contact-details">
                <h3>Contact Details</h3>
                <ul>
                    <li>e-mails: {{ site.email }}<br>
                                 {{ site.email2 }}
                    </li>
                    <li>
                        University of Santa Catarina's State
                        <br>
                        Joinville - SC
                        <br>
                        Zona Industrial Norte
                        <br>
                        Brazil
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->
