<!-- About Section -->
<div id="about" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Me</h2>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span3 profile">
        	<!-- <div class="image-wrap">
                <img src="include/img/profile/profile-01.jpg" alt="{{ site.username }}">
            </div> -->
        </div>

        <div class="span5">
            <h3 class="profile-name">{{ site.username }}</h3>
            <p class="profile-description">
            This is a procject about 3D body capture with automatic modelling enriched which uses one camera RGBD e produces variants based in obesity levels. It was developed by <a href="https://www.joinville.udesc.br/larva/">Larva (LAboratory of Research in Visual Aplications) </a> and <a href="#">Vinco (Laboratório de Visualização e Interação não COnvencionais) </a>
            </p>
            <div class="social">
                <ul class="social-icons">
                        <li><a href="{{site.github_username}}" title="Follow Me on GitHub" target="_blank"><span class="fa fa-github solo"></span></a></li>
                </ul>
            </div>

        </div>

        <div class="span4">
            <div class="contact-details">
                <h3>Contact Details</h3>
                <ul>
                    <li>e-mails: {{ site.email }}<br>
                                 {{ site.email2 }}
                    </li>
                    <li>
                        University of Santa Catarina's State
                        <br>
                        Joinville - SC
                        <br>
                        Zona Industrial Norte
                        <br>
                        Brazil
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->
