<!-- Footer -->
<footer>
	<p class="credits">&copy;2017 {{ site.username }} </p>
</footer>
<!-- End Footer -->

<!-- Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- jQuery Core -->
<script src="{{ '/include/js/bootstrap.min.js' | prepend:site.baseurl }}"></script> <!-- Bootstrap -->
<script src="{{ '/include/js/supersized.3.2.7.min.js' | prepend:site.baseurl }}"></script> <!-- Slider -->
<script src="{{ '/include/js/waypoints.js' | prepend:site.baseurl }}"></script> <!-- WayPoints -->
<script src="{{ '/include/js/waypoints-sticky.js' | prepend:site.baseurl }}"></script> <!-- Waypoints for Header -->
<script src="{{ '/include/js/jquery.isotope.js' | prepend:site.baseurl }}"></script> <!-- Isotope Filter -->
<script src="{{ '/include/js/plugins.js' | prepend:site.baseurl }}"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{{ '/include/js/main.js' | prepend:site.baseurl }}"></script> <!-- Default JS -->
<script src="https://localhost:35729/livereload.js"></script>
<!-- End Js -->

</body>
</html>
