<!-- Home Section -->
<div id="home" class="page" style="background-image: url('include/img/hardware_city.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 50% 0%;">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">{{ site.title }}</h2>
                    <h3>Captura Corporal 3D com Modelagem Automática Enriquecida</h3>
                </div>
            </div>
        </div>
    </div>
</div>
