<!-- My Project Section -->
<div id="my_projects" class="page-alternate">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">My Projects</h2>
                    <h3 class="title-description">Check Out My Projects at <a href="{{ site.github_username }}" target="_blank">GitHub</a>.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Start Toggle Section -->
        <div class="row">

            <!-- Start left column -->
            <div class="span6">
               
               <h3 class="spec">Python</h3>
                
                <!-- Start Python Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#sKanner3D">
                                sKanner3D
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="sKanner3D" class="accordion-body collapse">
                            <div class="accordion-inner">
                           Projeto de deformação de humanos Virtuais em blender
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Python Projects -->

                <h3 class="spec">Other</h3>
                
                <!-- Start Javascript Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#OtherProjects">
                                Gists
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="OtherProjects" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Various <a href="https://gist.github.com/gabrielcaixeta">Gists</a> aka microprojects and samples of source code.
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="spec">Polished Forks</h3>
                
                <!-- Start Fork Projects -->
                <div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#Udesc-abntex">
                                Udesc-abntex
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="Udesc-abntex" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/gabrielcaixeta/udesc-abntex">Udesc-abntex</a> is a Latex template of Dissertation.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading togglize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#LibRPlyProject">
                                libRPLY
                                <span class="font-icon-plus"></span>
                                <span class="font-icon-minus"></span>
                            </a>
                        </div>
                        <div id="LibRPlyProject" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="https://github.com/gabrielcaixeta/librply">RPly</a> is a library originally written by Diego Nehab, that lets applications read and write PLY files. The PLY file format is widely used to store geometric information, such as 3D models, but is general enough to be useful for other purposes.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Fork Projects -->
            </div>
            <!-- Start left column -->
        </div>
        <!-- End Accordion/Toggle Section -->
    </div>
</div>
<!-- End My Project Section -->
